/* ===== [ Fonts ] ===== */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
/* ===== [ Root ] ===== */
:root{
  --font-th-1: 'Muli', sans-serif;
  --font-th-2: 'Kanit', sans-serif;
  --font-th-3: 'Mitr', sans-serif;
}
/* ===== [ Main ] ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}
#header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
#header .logo{
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
#header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#header ul li{
  list-style: none;
  margin-left: 20px;
}
#header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active{
  background: #094b65;
  color: #fff;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65 ,transparent);
  z-index: 10;
}
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* section #rocks{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  pointer-events: none;
} */
section #text{
  position: absolute;
  color: #094b65;
  font-size: 6vw;
  text-align: center;
  line-height: 0.55em;
  /* font-family: 'Rancho', cursive; */
  font-family: 'Kanit', cursive;
  transform: translateY(-100%);
}
section #text span{
  font-size: .2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
}
#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}
.sec{
  position: relative;
  padding: 100px;
  background: #094b65;
}
.sec h2{
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
.sec p{
  font-size: 1em;
  color: #fff;
}